Spaghettis/Modules/spaghettis_belle/Belle/Resources/MICA/Mica.dtd


<!ELEMENT mica (map | category)*>

<!ELEMENT map (#PCDATA)>
<!ELEMENT category (concept)+>

<!ELEMENT concept (sequence?, identifier+, definition*)>

<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier lang CDATA #REQUIRED>

<!ELEMENT definition EMPTY>
<!ATTLIST definition lang CDATA #REQUIRED name CDATA #REQUIRED >

<!ELEMENT sequence (#PCDATA)>
<!ATTLIST sequence cyclic (true | false) "false">
